name: 'Generate coverage report'

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  coverage:

    runs-on: [ubuntu-latest]
    name: Coverage on Ubuntu

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Generate coverage with JaCoCo
        run: mvn -V -ntp clean verify jacoco:prepare-agent test integration-test jacoco:report --file pom.xml '-Dgpg.skip'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.14
        with:
          token: ${{secrets.CODECOV_TOKEN}}
