name: 'Quality Monitor PR'

on:
  pull_request_target:

jobs:
  build:

    runs-on: [ubuntu-latest]
    name: Build, test and monitor quality on Ubuntu

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          check-latest: true
          cache: 'maven'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.6
      - name: Build with Maven
        env:
          BROWSER: chrome-container
        run: mvn -V --color always -ntp clean verify -Pci | tee maven.log
      - name: Extract pull request number
        uses: jwalton/gh-find-current-pr@v1
        id: pr
      - name: Run Quality Monitor
        uses: uhafner/quality-monitor@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          pr-number: ${{ steps.pr.outputs.number }}
          config: >
            {
            "tests": {
              "name": "Tests",
              "tools": [
                {
                  "id": "test",
                  "name": "Tests",
                  "pattern": "**/target/*-reports/TEST*.xml"
                }
              ]
            },
            "analysis": [
              {
                "name": "Style",
                "id": "style",
                "tools": [
                  {
                    "id": "checkstyle",
                    "pattern": "**/target/checkstyle-*/checkstyle-result.xml"
                  },
                  {
                    "id": "pmd",
                    "pattern": "**/target/pmd-*/pmd.xml"
                  }
                ]
              },
              {
                "name": "Bugs",
                "id": "bugs",
                "icon": "bug",
                "tools": [
                  {
                    "id": "spotbugs",
                    "sourcePath": "src/main/java",
                    "pattern": "**/target/spotbugsXml.xml"
                  }
                ]
              }
            ],
            "coverage": [
              {
                "name": "Code Coverage",
                "tools": [
                  {
                    "id": "jacoco",
                    "name": "Line Coverage",
                    "metric": "line",
                    "sourcePath": "src/main/java",
                    "pattern": "**/target/site/jacoco/jacoco.xml"
                  },
                  {
                    "id": "jacoco",
                    "name": "Branch Coverage",
                    "metric": "branch",
                    "sourcePath": "src/main/java",
                    "pattern": "**/target/site/jacoco/jacoco.xml"
                  }
                ]
              }
             ]
            }
