name: 'Quality Monitor'

on:
  push:
      branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: [ubuntu-latest]
    name: Create reports

    steps:
      - name: Checkout project
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 25
          check-latest: true
          cache: 'maven'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.12
      - name: Check if quality monitor reports mutation coverage
        run: |
          FILE='.github/quality-monitor.json'
          PATTERN='target/pit-reports/mutations.xml'
          if [ -f "$FILE" ]; then
            if grep -q "$PATTERN" "$FILE"; then
              echo "PIT=-Ppit" >> "$GITHUB_ENV"
            fi
          fi
      - name: Build with Maven
        env:
          PIT: ${{ env.PIT }}
          BROWSER: chrome-container
        run: |
          mvn -V --color always -ntp clean verify $PIT -Pci | tee maven.log
          if [ "${PIPESTATUS[0]}" != "0" ]; then
             exit 1;
          fi
          mv -fv maven.log target/maven.log
      - name: Upload Quality Reports
        uses: actions/upload-artifact@v6
        with:
          name: quality-reports
          path: |
            **/target/**/*.json
            **/target/**/*.xml
            **/target/**/*.log

